/* BoxBtnList.css */
.box-btn-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box-button {
    flex: 0 0 calc(25% - 10px); /* Adjust the percentage based on your design */
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    /* Add any other styling you want */
  }
  
  .box-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .box-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .box-info-item img {
    margin-right: 5px;
    width: 30px; /* Adjust the size based on your design */
    height: 30px;
  }
  
  .nav-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .nav-button:hover {
    background-color: #ddd; /* 按鈕淺色底色 */
    color: #333; /* 字體深色 */
  }
  .nav-button.active {
    background-color: #ddd; /* 按鈕淺色底色 */
    color: #333; /* 字體深色 */
  }