/* dashboard.css */

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}
  
.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #161819;
    /* #F5F5F5; 淡雅的米色背景 */
    margin: 0; /* 移除额外的 margin */
    padding: 0px 32px 32px 32px;
    overflow: hidden;
    /* border: 1px solid red; */
}
  
.Banner{
  flex: 1;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #161819;
  text-align: left;
}
.BannerLogo{
  width: 148px;
  height: 85px;
}
.BannerBell{
    width: 30px;
    height: 30px;
    margin-left: 1440px;
    margin-right: 30px;
}
.BannerUsername{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-left: 10px;
    margin-right: 10px;
}

.profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover; /* 保持圖片比例，覆蓋整個圓形區域 */
    border-radius: 50%; /* 讓圖片也呈現圓形 */
    background-color: white;
}

.Panel{
  /* flex: 6; */
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-shrink: 1;
  gap: 20px;
}

.sidebar {
    flex: 1.85;
    /* flex-shrink: 0; */
    height: auto;
    border-radius: 6px; 
    background-color: #252728;
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.25) inset; 
    /* #34495E; 深蓝色导航栏底色 */
    color: #ECF0F1; /* 字体浅色 */
    align-items: center; /* 將內容置中 */
    padding: 16px 25px 16px 25px;
    /* margin-right: 20px; */
}

.sidebar h3{
  text-align: left;
  color: #fff;
  /* font-family: Inter; */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
}

/* 共用樣式 */
.image-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  img {
        width: 28px;
        height: 28px;
        margin-right: 10px;/* 設定圖片和文字之間的間距 */
  }

  &:hover {
        background-color: #2980b9;
  }
}

/* 未選取狀態 */
.image-button {
  background-color: transparent;
  color: #A4A4A4;

  &.active {
      background-color: #3498db;
      color: #fff;
  }
}

.content {
    flex: 14;
    height: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    /* align-items: stretch; 依主軸的 flex-direction 下，flex-item 被拉伸以填滿整個容器 */
}

.content_up{
    flex: auto; /* 不彈性，並且固定高度 */
    /* height: 500px; 固定高度，你可以根據需求調整 */
    padding: 0px 0px 10px 0px;
    display: flex;
    overflow: hidden;
    gap: 25px;
}

.content_down{
    flex: 1;
    padding: 10px 0;
    /* max-height: 100%; */
    max-height: 400px;
    border-radius: 6px;
    background: #252728;
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.25) inset;
    /* border: 1px solid greenyellow; 加入 border 以便觀察 */
    align-content: flex-start;

}

.foot{
    height: 32px;
    color: transparent;
}

.timefilter span{
    margin-right: 10px;
    background-color: transparent;
    color: #fff;
}
.timebtn{
    margin-left: 5px;
    width: 56px;
    height: 19px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
    background-color: transparent;

    &.active{
        background-color: #2980b9;
        border-radius: 6px;
    }
}

/*streaming*/
.up_left {
    flex: 1.2;
    display: flex;
    border-radius: 6px;
    background: #252728;
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.25) inset;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50%;
}
/*button area*/
.up_right {
    flex: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.up_right_title{
    flex: 1;
    /* color: #694f3d;
    text-align: center;
    line-height: 30px; */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 设置高度为视口高度，以便垂直居中生效 */
    margin: 0; /* 移除默认的外边距 */
}

.up_right_btnArea{
    /* flex: 2; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    text-align: right;
    /* gap: 12px; */
}