/* dashboard.css */

.device-info {
    flex-grow: 1;
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .grow-info-container {
    height: 90%; /* 這裡的高度可以根據需要調整 */
    margin: 0;
    padding: 0;
    overflow-y: auto;
    
  }
  .grow-info {
    overflow-y: auto; /* 添加這一行 */
    text-align: center;
    max-height: 500px; /* 調整最大高度，請根據需要調整 */
  }

  body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
  .dashboard {
    display: flex;
    height: 100%;
    background-color: #655147; /* 深木色背景 */
    margin: 0; /* 移除额外的 margin */
    overflow: hidden;
}
  
  .sidebar {
    flex: 1;
    /* width: 7%; */
    background-color:  #8b735b; /* 木質左側導覽列底色 */
    color: #fff; /* 字體淺色 */
    align-items: center; /* 將內容置中 */
    padding: 40px 20px 20px 20px;
  }

  .sidebar img {
    max-width: 100%;
    height: auto; /* 保持圖片比例 */
  }

  .setting-button {
    width: 80%;
    padding: 20px; /* 調整 padding 以滿足你的需求 */
    background: none; /* 移除底色 */
    border: none; /* 移除邊框 */
    cursor: pointer;
    margin-top: auto; /* 讓 setting button 位於容器底部 */
  }

  .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #694f3d; /* 深棕色字體 */
  }
  
  .nav-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-button:hover {
    background-color: #c7b198; /* 木質按鈕淺色底色 */
    color: #fff; /* 字體深色 */
  }
  
  .nav-button.active {
    background-color:  #c7b198; /* 木質按鈕淺色底色 */
    color: #fff; /* 字體深色 */
  }
  
  .content {
    flex: 14;
    /* width: 100%; */
    padding: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: stretch; /*依主軸的 flex-direction 下，flex-item 被拉伸以填滿整個容器*/
  }

.content_up{
  flex: 1;
  padding: 20px;
  display: flex;
  overflow: hidden;
}

.content_down{
  flex: 1;
  padding: 20px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
}

.box {
    flex: 0 0 calc(50% - 20px);
    height: 50%;
    padding: 15px;
    background-color: #d9d2ba; /* 淡木色背景 */
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out; /* 添加过渡效果，持续0.5秒，缓慢加速减速 */
  transform-origin: left bottom; /* 设置变换原点为左下角 */
}

.up_left {
  flex: 1;
}
.up_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 50%; /* 添加这一行，限制最大宽度为50% */
}

.up_right_title{
  flex: 1;
  color: #d9d2ba; /* 字體淺色 */
  /* align-items: center;
  justify-content: center;  */
}

.up_right_btnArea{
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: stretch; 
  flex-wrap: wrap;
  gap: 24px;

}

.up_right_btnArea button {
  /* 共用樣式 */
  width: 120px; /* 固定寬度 */
  height: 120px; /* 固定高度 */
  border-radius: 10px; /* 圓角 */
  white-space: pre-wrap; /* 按鈕文字自動換行 */
}

.box.expanded {
  transform: scale(1.9);
  z-index: 1; /* 确保展开的盒子在最上层 */
}