/* HistoryPic.css */

body {
    margin: 0;
    overflow: hidden;
}

.history-pic-container {
    max-width: 1500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    height: 100vh; /* 設定容器高度為整個視窗高度 */
    overflow: hidden; /* 隱藏整體滾動條 */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.content-container {
    display: flex;
    margin-top: 20px;
    overflow: hidden;
    flex: 1; /* 佔據剩餘的高度 */
}

.current-image {
    flex: 0 0 60%;
    overflow: hidden;
}

.current-image img {
    width: 100%;
    height: flex;
    object-fit: cover;  /* 保持圖片比例並填充容器 */
}

.history-scroll {
    flex: 1;
    overflow-y: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.history-scroll img {
    width: 100%;
    height: auto;
}
