/* LedComponent.css */

.container {
  display: flex;
  max-width: 100%;
  height: 100%;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #252728;
  gap: 10px;
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.25) inset;
}

.right-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 60%;
  width: 70%;
  /* margin: 10px 5px; 調整左右邊距，根據你的需求調整 */
}

.ledform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.wheelandbrigh{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.time-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input-container {
  /* margin-bottom: 0px; */
  width: auto;
  display: flex;
  justify-content: space-between; /* 內容靠右 */
  align-items: center; /* 垂直居中對齊 */
  gap: 10px;
}

.bright-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  gap: 15px;
}

.bright-container img{
  width: 20px;
  height: 20px;
}

.label {
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: flex-start; /* 內容靠右 */
  align-items: center; /* 垂直居中對齊 */
  /* margin-right: 1px; 調整 label 與 input 之間的間距 */
  color: #fff;
  font-size: 20px;
  min-width: 100px; /* 設定最小寬度 */
}

.submit-button {
  padding: 10px 20px;
  background-color: #A4A4A4;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
}

.timeclock {
  background-color: transparent;
  color: #fff;
  margin: 5px;
  padding: 5px;
}
.timeclock fieldset{
  border-color: #727272;
}
.timeclock label,
.timeclock input,
.timeclock svg{
  color: #fff;
}

.vbox{
  height: 100%;
  width: 100%;
}

.ledstream{
  height: 600px;
  width: 650px;
  border: 0;
  margin-top: 20px;
}

.wheel-wrapper{
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
}