/* LedComponent.css */

.container {
  display: flex;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column,
.right-column {
  flex: 1;
  margin: 0 5px; /* 調整左右邊距，根據你的需求調整 */
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 將 .right-column 元素內容靠右 */
  margin: 0 5px; /* 調整左右邊距，根據你的需求調整 */
}

.info {
  margin-bottom: 20px;
  /* Add any additional styling for the information section */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end; /* 內容靠右 */
  align-items: center; /* 垂直居中對齊 */
}

.label,
.input {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end; /* 內容靠右 */
  align-items: center; /* 垂直居中對齊 */
}

.label {
  margin-right: 10px; /* 調整 label 與 input 之間的間距 */
  color: #333;
  font-size: 16px;
  min-width: 100px; /* 設定最小寬度 */
}

.input {
  width: 200px; /* 或者你想要的固定寬度 */
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

input[type="number"],
input[type="time"] {
  line-height: 1.5;
  vertical-align: middle;
}

.submit-button {
  padding: 10px 20px;
  background-color: #0078d4;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
