.videobox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videobox iframe {
    width: 100%;
    height: 100%;
}

.streaming {

  flex:7;
  max-width: 100%;
  /* width: 100%; */
  height: 90%;
  /* aspect-ratio: 100 / 66; */
  display: block;
  border: 0;
  /* flex-basis: 100px; */
  z-index: 2;
  /* width: 75%; /* 设置图片宽度为父容器的100% */
  /* height: 85%; 设置图片高度为父容器的100% */
}
@keyframes fadenum{
  100%{transform:translateX(-200px);opacity:0;}
}

.grow-img {
  flex:7;
  max-width: 100%;
  /* width: 400px; */
  height: 88%;
  /* aspect-ratio: 16 / 9; */
  display: block;
  border: 0;
  /* flex-basis: 100px; */
  z-index: 2;
  right: 10px;
  transition: max-width 0.5s, height 0.5s, opacity 0.5s, right 0.5s;
}

.grow-img-leave{
  flex:7;
  max-width: 66%;
  /* width: 400px; */
  height: 85%;
  /* aspect-ratio: 16 / 9; */
  display: block;
  border: 0;
  /* flex-basis: 100px; */
  z-index: 2;
  right: 10px;
  animation:fadenum 5s;
}

.behind-img {
  width: 65%;
  height: auto;
  aspect-ratio: 16 / 9; /* 设置宽高比例，这里使用 16:9 作为示例 */
  opacity: 0.1;
  position: absolute;
  top: 0;
  /* vertical-align: middle; */
  left: 20%;
  top:15%;
  z-index: 1;
  display: block;
}

.behind-img2 {
  width: 50%;
  height: auto;
  aspect-ratio: 16 / 9; /* 设置宽高比例，这里使用 16:9 作为示例 */
  opacity: 0.1;
  position: absolute;
  top: 0;
  vertical-align: middle;
  left: 40%;
  top:25%;
  z-index: 0;
}

.slide-out {
  transform: translateX(-10%);
  opacity: 0;
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.leftbtn{
  flex:1;
  margin: 5px;
}

.rightbtn{
  flex: 1;
  margin: 5px;
}