* {
    box-sizing: border-box;
  }
.swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  
  .swiper2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    max-width: 1000px;
    width: auto !important;
    max-height: 100%;
    overflow: hidden;
  }

  .swiper-item {
    flex: 0 0 auto;
    width: auto; /* 或其他合適的寬度 */
    max-width: 100%;
    /* background-color: #ddd; */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s;
    position: relative;
    z-index: 1;
    object-fit: cover;
  }
  
  .swiper-item.active {
    z-index: 2;
    transform: scale(1.2);
  }
  
  